:root {
    --color-primario: #ccccd6;
    --color-acento-lider: #23a7e5;
}

.registro {
border: 2px solid var(--color-acento-lider);
padding: 20px;
margin-top: 15px;
border-radius: 6px;
background-color: #f9fff9;
}

.registro h2 {
color: var(--color-acento-lider);
margin-bottom: 10px;
}

.registro p {
margin-bottom: 15px;
}

.registro form {
max-width: 400px;
}

.registro button {
background-color: var(--color-acento-lider);
}

.registro button:hover {
background-color: #1d65f5;
}

@media (max-width: 600px) {
.registro {
padding: 15px;
}
}
